JHEmulation/.idea
JHEmulation/.vs
JHEmulation/Binaries
JHEmulation/DerivedDataCache
JHEmulation/Intermediate
JHEmulation/Package
JHEmulation/Saved
JHEmulation/Plugins/VlcMedia/Binaries
JHEmulation/Plugins/VlcMedia/Intermediate
JHEmulation/Plugins/DTNativeClient/Binaries
JHEmulation/Plugins/DTNativeClient/Intermediate
JHEmulation/Plugins/FastChangeLanguage/Binaries
JHEmulation/Plugins/FastChangeLanguage/Intermediate
JHEmulation/Content/BigFile/Files/JiangHuai
JHEmulation/Content/BlackAlder/Textures