ZJChinaMobile/.vs
ZJChinaMobile/Binaries
ZJChinaMobile/DerivedDataCache
ZJChinaMobile/Intermediate
ZJChinaMobile/Saved
ZJChinaMobile/Plugins/PPT2PNG/Binaries
ZJChinaMobile/Plugins/PPT2PNG/Intermediate
ZJChinaMobile/.vsconfig
ZJChinaMobile/.idea